<a href="https://colab.research.google.com/github/Akshay-ramagiri/NNDL/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##MOUNT GOOGLE DRIVE

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## IMPORTING REQUIRED PACKAGES

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

## IMPORT DATA

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Assignment1.csv')
data.head()

       X      Y
0   75.1  577.8
1   74.3  577.0
2   88.7  570.9
3  114.6  578.6
4   98.5  572.4

##NORMALIZATION

In [ ]:
Xmax = np.max(data['X'])
Xmin = np.min(data['X'])
Ymax = np.max(data['Y'])
Ymin = np.min(data['Y'])
data['X'] = (data['X'] - Xmin) / (Xmax - Xmin)
data['Y'] = (data['Y'] - Ymin) / (Ymax - Ymin)
data.head()

          X         Y
0  0.223183  0.995346
1  0.209343  0.990692
2  0.458478  0.955207
3  0.906574  1.000000
4  0.628028  0.963933

##DATA SPLIT

In [ ]:
x = data['X']
y = data['Y']
Xtrain, Xtest, Ytrain, Ytest = train_test_split(x, y, test_size=0.1, random_state=101)

##GRADIENT CALCULATION

In [ ]:
m = np.random.uniform(-50, 50)
c = np.random.uniform(-50, 50)
eta = 0.5
epochs = 500

for _ in range(epochs):
    
    gM = -sum([(Ytrain.iloc[i] - m * Xtrain.iloc[i] - c) * Xtrain.iloc[i] for i in range(Xtrain.shape[0])])
    gM /= Xtrain.shape[0]
    
    gC = -sum([(Ytrain.iloc[i] - m * Xtrain.iloc[i] - c) for i in range(Xtrain.shape[0])])
    gC /= Xtrain.shape[0]
    
    c += - eta * gC
    m += - eta * gM

print(f'm = {m}\nc = {c}')

m = -0.15334601489626976
c = 0.6966996098708576

In [ ]:
train_pred = [m * Xtrain.iloc[i] + c for i in range(Xtrain.shape[0])]
test_pred = [m * Xtest.iloc[i] + c for i in range(Xtest.shape[0])]

##DENORMALIZATION

In [ ]:
train_pred = [i * (Ymax - Ymin) + Ymin for i in train_pred]
test_pred = [i * (Ymax - Ymin) + Ymin for i in test_pred]
trainY = [i * (Ymax - Ymin) + Ymin for i in Ytrain]
testY = [i * (Ymax - Ymin) + Ymin for i in Ytest]

##ERROR METRIC CALCULATION

TRANING DATA

In [ ]:
train_MAE = sum([abs(train_pred[i] - trainY[i]) for i in range(len(trainY))]) / len(trainY)
train_MSE = sum([(train_pred[i] - trainY[i]) ** 2 for i in range(len(trainY))]) / len(trainY)
train_RMSE = train_MSE ** 0.5
print('Training Error :')
print(f'MAE : {train_MAE}')
print(f'MSE : {train_MSE}')
print(f'RMSE : {train_RMSE}')

Training Error :
MAE : 26.709849586506092
MSE : 1532.819342197983
RMSE : 39.151236790144736

TESTING DATA

In [ ]:
test_MAE = sum([abs(test_pred[i] - testY[i]) for i in range(len(testY))]) / len(testY)
test_MSE = sum([(test_pred[i] - testY[i]) ** 2 for i in range(len(testY))]) / len(testY)
test_RMSE = test_MSE ** 0.5
print('Testing Error :')
print(f'MAE : {test_MAE}')
print(f'MSE : {test_MSE}')
print(f'RMSE : {test_RMSE}')

Testing Error :
MAE : 19.052524411868166
MSE : 532.4668458976467
RMSE : 23.075243138429695

##Analyze training data predictions

In [ ]:
pd.DataFrame({'Actual' : trainY, 'Predicted':train_pred})

    Actual   Predicted
0    508.6  504.754279
1    570.9  514.377113
2    510.0  517.478311
3    513.4  520.077844
4    506.3  524.638429
5    512.8  520.214662
6    504.3  516.383771
7    496.4  521.172385
8    578.6  502.565199
9    577.0  520.944355
10   510.9  506.760937
11   502.8  521.172385
12   506.4  509.497288
13   411.2  503.750951
14   503.9  521.126779
15   577.8  520.579509
16   512.8  513.966661
17   572.4  509.907740
18   406.7  506.031243
19   510.2  512.416062
20   507.1  513.556208
21   506.2  524.866458
22   522.0  510.135769
23   493.0  508.630776
24   531.7  502.473987
25   510.2  519.302545
26   505.2  502.017929

##Analyze testing data predictions

In [ ]:
pd.DataFrame({'Actual' : testY, 'Predicted':test_pred})

   Actual   Predicted
0   505.4  514.422719
1   510.8  500.102483
2   563.9  526.462663

##DEPLOYMENT

In [ ]:
x = float(input('Enter the Liquid Nitrogen pressure: '))
x = (x - Xmin) / (Xmax - Xmin)
prediction = m * x + c
prediction = (prediction * (Ymax - Ymin)) + Ymin
print('Predicted Weight :', prediction)

Enter the Liquid Nitrogen pressure: 100
Predicted Weight : 509.22365251269525